node_modules/
.env
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
storage.rules
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/
.expo/
google-services.json
GoogleService-Info.plist
